
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}  
body{
    min-width: 1200px;
    overflow-x: hidden;
}
.d-inline-block{
    display: inline-block;
}
.d-block{
    display: block;
}
