$aboveNav-color: #0E0E0E;
$logo-size: 4%; 
$dc-color: #0282F9;
$padding: 30px;
$footer-text: #959595;
$font-primary: 12px;

@mixin container {
    padding-right: 100px !important;
    padding-left: 100px !important;
    margin-right: auto !important;
    margin-left: auto !important
}

@mixin nav-ul {
    float: right;
    text-align: center;
    padding: 13px 16px 0px;
    text-decoration: none;
    font-size: $font-primary;
    
}

@mixin nav-li{
    display:inline-block;
    margin: 0px 15px ;
    padding-bottom: 19px;
}

@mixin primary-color{
    color: white;
}

@mixin current-series{
    background: $dc-color;
    @include primary-color;
    padding: 7px 10px;
    font-size: 18px;
    font-weight: bold;
    position: absolute;
    bottom: -17px;
    left: 100px;
    border: 1px solid $dc-color;
}